/* Colors */

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --blue-color: #82B3D3;
  --main-color: #333333;
  --brown-color: #756157;
}


/* Visually-hidden */

.visually-hidden {
  position: absolute;
  visibility: hidden;
}


/* ul */

ul {
  padding: 0;
  margin: 0;
  list-style: none; /* убрать точку списков */
}

/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/* Body */

body {
  margin: 0 auto;
  width: 1200px;
  
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main-color);
  background: #f2f2f2;
}


/* Buttons */

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  background-color: var(--brown-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}

.button-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}

.button-view {
  padding: 14px 12px;
  color: #e5e5e5;
  border: 2px solid;
  text-decoration: none;
}

.button-circled {
  color: var(--black-color);
}

.button-nav {
  background-color: var(--brown-color);
}

.subscribe-button {
  background-color: var(--blue-color);
  border-radius: 0px 4px 4px 0px;
}

.button-not-color {
  background: transparent;
}

.product-card-button {
  background-color: var(--brown-color);
}

.product-card-button-green {
  background-color: #7DB54F; 
}


/* Header */

.page-header {
  background-color: var(--white-color);
  height: 64px;
  padding: 0px 70px;
}

.navigation {
  height: 64px;
  display: flex;
}

.navigation-list {
  display: flex;
}

.navigation-user {
  display: flex;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-item-icon {
  padding: 22px 12px;
}

.navigation-item-button {
  padding: 14px 0px 14px 20px;
}

.navigation-icon {
  color: inherit;
  text-decoration: none; /* подчеркивание */
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: capitalize; /* заглавные/маленькие буквы */
    text-decoration: none; /* подчеркивание */
    text-align: center;
}


/* Index page */

.main-index-welcome {
    background-color: var(--white-color);
    background-image: url("../images/index/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    width: 1200px;
    height: 485px;
}

.logo {
  padding: 51px 371px 82px 371px;
}

/*
.vector-welcome {
он где то на инф блоке
}
*/

/* Information block */

.information-block {
    text-align: center;
    background-color: var(--white-color);
    width: 1200px;
}

.information-block-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase; /* капс */
    color: var(--black-color);
}

.information-sedona {
    padding: 69px 0px;
    gap: 25px;
}

.information-visit {
    padding: 64px 0px;
    gap: 20px;
}

.information-interested {
    padding: 96px 0px;
}

/* Advantages */

.advantages {
  text-align: center;
  display: flex;
  background-color: var(--white-color);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-first {
  padding: 103px 85px;
}

.advantages-second {
  padding: 80px 85px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--black-color);
    text-transform: uppercase; /* капс */
    margin: 0;
}

.advantages-describtion {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item-white {
  display: flex;
  color: var(--white-color);
  background-color: var(--blue-color);
}

.advantages-item-white .advantages-title {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.advantages-group {
  display: flex;
}

.advantages-item-dark {
  background-color:  rgba(131, 179, 211, 0.20);
}

.advantages-item-light {
  background-color: var(--white-color);
}

.advantages-dividing-line {
  display: block;
  background: rgba(0, 0, 0, 0.30);
  width: 60px;
  height: 2px;
}


/* Subscribe */

.subscribe {
  text-align: center;
  background-color: var(--main-color);
  background-image: url(../images/index/subscribe-background.jpeg);
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase; /* капс */
  color: var(--white-color);
}

.subscribe-text {
  color: var(--white-color);
}

.subscribe-field {
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
  border: none;

  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
}


/* Catalog page */

.catalog {
  background-color: var(--white-color);
}

.filter {
  background-color: var(--main-color);
  background-image: url(../images/catalog/filters-background.jpeg);
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  color: var(--white-color);
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0px;
}

.catalog-filter {
  display: flex;
}


/* Breadcrumbs */

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  /* display: flex; ???*/
}

.catalog-products {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-products-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


.product-card {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--white-color);
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black-color);
}

.product-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 8px 22px;
  border-radius: 4px;
}


/* Pagination */

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px; 
  border-radius: 4px;
}

.pagination-current {
  color: var(--black-color);
  background-color: #f2f2f2;
}


/* Footer */

.page-footer {
  color: var(--black-color);
  background-color: var(--white-color);
  display: flex;
  padding: 40px 70px 30px 70px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
  text-decoration: none;
}

.footer-social-list {
  display: flex;
}