.visually-hidden {
  position: fixed;
  transform: scale(0);
}

div {
  display: block;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
  
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
}

.button-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
}

.button-view {
  padding: 14px 12px;
  color: #e5e5e5;
  border: 2px solid;
  text-decoration: none;
}

.button-circled {
  color: #000;
}

.button-nav {
  background-color: #756157;
}

.subscribe-button {
  background-color: #82B3D3;
}

.button-not-color {
  background: transparent;
}

.product-card-button {
  background-color: #756157;
}

.product-card-button-green {
  background-color: #7DB54F; 
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0px auto;
}

.navigation-list {
  width: 339px;
  margin: 0px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    background-color: #FFFFFF;
    text-transform: capitalize; /* заглавные/маленькие буквы */
    text-decoration: none; /* подчеркивание */
    text-align: center;
}

.navigation-icon {
  color: inherit;
  padding: 22px 12px;
  text-decoration: none; /* подчеркивание */
}

.main-index-welcome {
    background-color: #FFFFFF;
    background-image: url("../images/index/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    width: 1200px;
    height: 485px;
}

.vector-welcome {
    width: 100%;
    display: block;    
}

.information-block {
    text-align: center;
}

.information-block-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase; /* капс */
    color: #000000;
}

.advantages {
  text-align: center;
  display: flex;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase; /* капс */
}

.advantages-describtion {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item-white {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-white .advantages-title {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-group {
  display: flex;
}

.advantages-item-dark {
  background-color:  rgba(131, 179, 211, 0.20);
}

.advantages-item-light {
  background-color: #ffffff;
}

.subscribe {
  text-align: center;
  background-color: #333;
  background-image: url(../images/index/subscribe-background.jpeg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase; /* капс */
  color: #FFFFFF;
}

.subscribe-text {
  color: #FFFFFF;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.catalog-filter {
  color: #ffffff;
}

.filter {
  background-color: #333;
  background-image: url(../images/catalog/filters-background.jpeg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.catalog-filter {
  display: flex;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-products {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-products-search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.product-card {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.product-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 8px 22px;
}


.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px; 
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}